<%- include('partials/header.ejs'); -%>

<div class="about-section">
    <h1>About Us </h1>
<p> <%= aboutContent %> </p>
</div>

<h2 style="text-align:center">Creator</h2>

<div class="row">
    <div class="column">
      <div class="card">
        <img src="https://yt3.ggpht.com/ytc/AAUvwngxBYmYWzlimspJM8xMP2dfD_79QXMVV4I0LLGNag=s900-c-k-c0x00ffffff-no-rj" alt="Jane" style="width:100%">
        <div class="container-card">
          <h2>Prasun Verma</h2>
          <p class="title">CEO & Founder</p>
          <p></p>
          <p>prasunverma12@gmail.com</p>
         <a href="/contact">
            <div class="button" >Contact</div>
        </a>
        </div>
      </div>
    </div>

<a href="/compose" class="float">
    <i class="fa fa-plus my-float" style="font-size:20px"></i>
    </a>
<%- include('partials/footer.ejs'); -%>
